---
title: Linear
layout: default
---

<!-- Main -->
	<div id="main">
		<div class="container">
			<div class="row">
				{% include sidebar.html %}

				<!-- Content -->
				<div id="content" class="8u skel-cell-important">
					<section>
						<header>
							<h2>Artículos</h2>
												<span class="byline">Integer sit amet pede vel arcu aliquet pretium</span>
											</header>

							<ul class="post-list">
								{% for post in site.posts %}
								<section>
									<li>
										<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
											<br>
				<header>
					<br>
					<h2 style="color:#069"><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
				</header>
				<p>{{ post.excerpt }}</p>
				</section>
				<br>
									</li>
								{% endfor %}
							</ul>
				</div>

			</div>
		</div>
	</div>
<!-- /Main -->
